<form [formGroup]="postForm">
  <div class="card-body">


    <div class="row">
      <div class="col-sm-12">
        <h4>Edit Post</h4>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="postForm">Post Id
            <span style="color: red;">*</span>
          </label>
          <input name="postId" formControlName="postId" type="text" class="form-control" placeholder="Enter Name" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="postForm">ID
            <span style="color: red;">*</span>
          </label>
          <input name="id" formControlName="id" type="text" class="form-control" placeholder="Enter Email" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="postForm">Name
            <span style="color: red;">*</span>
          </label>
          <input name="name" formControlName="name" type="name" class="form-control" placeholder="Enter name" />
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="postForm">Email
            <span style="color: red;">*</span>
          </label>
          <input name="email" formControlName="email" type="email" class="form-control" placeholder="Enter email" />
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="postForm">Body
            <span style="color: red;">*</span>
          </label>
          <textarea name="body" formControlName="body" type="text" class="form-control"
          placeholder="Enter Body"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer small text-muted">
    <div style="display: flow-root;">
      <div class="float-right">
        <button [routerLink]="redirectTo" class="btn btn-secondary btn-sm mr-2" type="button">Cancel</button>
      </div>
    </div>
  </div>

</form>
